<p>Series listings are available for the following authors:</p>
<ul class='unstyled'>
<% @authors.each do |author| %>
<% author_name = Author.get_name(author) %>
<li><%= link_to author_name, author_path(author) %></li>
<% end %>
</ul>