<p>Series by 
<strong><%= Author.get_name(@author) + ' ' %></strong>
include the following:
</p>
<ul class='unstyled'>
<% @author.series.each do |series| %>
<li><%= link_to series.title, series_path(series) %></li>
<% end %>
</ul>